
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif !important;
    margin: 0 1rem 0 0;
    padding: 0;
}

body > div#header > h1
{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 35pt;
    font-weight: 700;
}

body > div {
    margin-left: 0;
    padding-bottom: 0;
}
body > div#header > div#contact,
body > div#summary,
body > div#skills,
body > div#experience,
body > div#certifications
{
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}
body > div#technical_skills,
body > div#leadership_skills
{
    margin-top: 0;
    margin-bottom: 0;
}
body > div#leadership_skills > h2
{
    margin-top: 0;
}

body > div#header
{
    margin-bottom: 0 !important;
}

body > div > *
{
    page-break-inside: avoid;
    line-height: 120%;
}

body > div > p
{
    margin-top: 0.25em;
    margin-bottom: 0.25rem;
}

body > div > div > *
{
    margin: 0;
}

dd
{
    margin-left: 1rem;
    width: 17rem;
}
body > div#header > div#contact
{
    margin-bottom: 0;
    font-size: 90%;
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    grid-template-areas:
        'email    web'
        'phone    github'
        'linkedin mastodon';
}

body > div#header > div#contact > p
{
    font-size: 8pt;
    margin-bottom: 0;
    break-inside: avoid;
    padding-left: 2rem;
    padding-bottom: 0.125rem;
}
body > div#header > div#contact > p a
{
    color: #004;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
body > div#header > div#contact > p.element_pdf
{
    display: none;
}
h2
{
    font-size: 13pt;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0;
    border-bottom: solid #333 1px;
}
body > div#summary > h2
{
    margin-top: 0;
}

body > div#header > div#contact > h2
{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.skill_container {
    column-width: 48vw;
    column-fill: balanced;
}

body > div#experience
{
    clear: both;
}

div.subheading
{
    page-break-inside: avoid;
    padding-left: 1rem;
}
div.subheading > h3 {
    margin-left: -1rem;
}

body > div#experience > div.subheading > h3
{
    font-size: 12pt;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body > div#experience > div.subheading > h3 > span:first-of-type
{
    order: 2;
    text-align: right;
}
body > div#experience h4
{
    font-size: 10pt;
    font-weight: 700;
    margin-top: 0.5rem;
}
body > div#experience h4:first-of-type
{
    margin-top: 0;
}
body > div#experience > div.subheading
{
    margin-top: 1em;
}
body > div#experience > div.subheading:first-of-type
{
    margin-top: 0;
}
body > div#experience > div.subheading > ul
{
    padding-left: 1.5em;
    margin-top: 0;
}
body > div#experience > div.subheading > p
{
    margin-top: 0;
    margin-bottom: 0;
}

body > div#header > div#contact svg
{
    height: 1rem;
    width: 1rem;
}
body > div#header > div#contact > p.element_address > svg
{
    padding-top: 0.25rem;
}
body > div#header > div#contact > p > svg
{
    position: relative;
    top: 0rem;
    left: -0.25rem;
    float: left;
}

svg, path
{
    stroke: black;
}

p.element_address > svg path,
p.element_mastodon > svg path,
p.element_phone > svg path,
p.element_github > svg path
{
    fill: black;
    stroke: none;
}

p.element_mastodon > svg path { fill: #2f0c7a; stroke: none; }
p.element_linkedin > svg path { stroke: none; }
p.element_address  > svg path
{
    fill: #ee3333;
    stroke: black;
    stroke-width: 0.5pt;
}
p.element_web      > svg path { fill: none; stroke: #00e; }
p.element_email    > svg
{

}
p.element_email    > svg path
{
               fill: white;
             stroke: black;
       stroke-width: 1.75pt;
}

p.element_address  { grid-area: address; }
p.element_phone    { grid-area: phone; }
p.element_email    { grid-area: email; }
p.element_web      { grid-area: web; }
p.element_mastodon { grid-area: mastodon; }
p.element_linkedin { grid-area: linkedin; }
p.element_github   { grid-area: github; }
p.element_address,
p.element_phone,
p.element_email,
p.element_web,
p.element_mastodon,
p.element_linkedin,
p.element_github
{
    height:      1.125rem;
    line-height:  1rem;
}
div#contact h2     { order: 7; }

div.skill
{
    margin-bottom: 0.25em;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
}

div.skill p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
div.skill ul
{
    margin: 0;
    padding: 0 0 0 1rem;
}

#personal_interests
{
    font-size: 95%;
}

hr
{
    border-top: none;
    border-bottom: solid black 1px;
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

#experience hr
{
    border-bottom: solid #888 1px;
    color: none;
}

body > div#footer > p
{
    font-size: 9pt;
    margin-top: 0.5rem;
}

p > em {
    font-size: 9pt;
}

#experience p
{
    font-style: italic;
}

@media screen {
    body {
        padding: 1rem;
    }
    body > div#header > div#contact
    {
        grid-template-areas:
            'pdf  email    web'
            'none phone    github'
            'none linkedin mastodon';
        top: 0.5rem;
        right: 2rem;
    }
    body > div#header > div#contact > p.element_pdf
    {
        display: block;
    }
    body > div#header > div#contact > p
    {
        padding-left: 2rem;
    }
}


@media print {
    @page {
        margin: 1.5rem;
    }
    body
    {
        background-image: none !important;
        color: black !important;
        background-color: white !important;
        font-size: 9pt;
        margin: 0;
        padding: 0;
    }
}
