

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAElBMVEU3SGk4SGo5SWo5Sms7S2w8TG1LAL5UAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4woCAhkLs+u3WAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAF0lEQVQI12MIVhRUNmEQYGBgEGQgEQAAOAUA/vnw91IAAAAASUVORK5CYII);
    background-size: 30rem 30rem;
    background-repeat: repeat-y;
    background-position: left;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

div#contact,
div#skills,
div#certifications,
body > h1
{
    color: white;
    float: left;
    clear: left;
    width: 29rem;
    margin-left: 0;
    padding: 0 0 0 1rem;
}

body > div {
    margin-left: 31rem;
}

body > h1 {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 300%;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}

body > div > h2 {
    margin-top: 0;
    margin-left: -1rem;
    padding-left: 1rem;
    border-bottom: solid black 1px;
    margin-bottom: 0.5rem;
}

body > div#contact,
body > div#skills,
body > div#certifications
{
    margin-bottom: 4rem;
}

body > div#contact > h2,
body > div#skills > h2,
body > div#certifications > h2
{
    border-bottom: solid white 1px;
}

dl {
    margin: 0;
}

dd {
    margin-bottom: 0.5rem;
}

dd.bar_10_of_10,
dd.bar_9_of_10,
dd.bar_8_of_10,
dd.bar_7_of_10,
dd.bar_6_of_10,
dd.bar_5_of_10,
dd.bar_4_of_10,
dd.bar_3_of_10,
dd.bar_2_of_10,
dd.bar_1_of_10,
dd.bar_0_of_10
{
    width: 20rem;
    height: 1rem;
    border: solid #679 1px;
    padding: 1px;
/*    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAA1BMVEWImcx6DcgqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4woCAzoTH+wyWAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAC0lEQVQI12NgwAcAAB4AAW6FRzIAAAAASUVORK5CYII=);
 */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4woCBAwHiWVh1QAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAFUlEQVQY02OcuWo3A27AxIAXjFRpAHLmAhLQOcLeAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-color: transparent;
}

dd.bar_10_of_10 {
    background-size: 20rem 1rem;
}

dd.bar_9_of_10 {
    background-size: 18rem 1rem;
}

dd.bar_8_of_10 {
    background-size: 16rem 1rem;
}

dd.bar_7_of_10 {
    background-size: 14rem 1rem;
}

dd.bar_6_of_10 {
    background-size: 12rem 1rem;
}

dd.bar_5_of_10 {
    background-size: 10rem 1rem;
}

dd.bar_4_of_10 {
    background-size: 8rem 1rem;
}

dd.bar_3_of_10 {
    background-size: 6rem 1rem;
}

dd.bar_2_of_10 {
    background-size: 4rem 1rem;
}

dd.bar_1_of_10 {
    background-size: 2rem 1rem;
}

dd.bar_0_of_10 {
    background-size: 1px 1rem;
}



