
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-Regular.woff2.base64}}) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-Italic.woff2.base64}}) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-Bold.woff2.base64}}) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-BoldItalic.woff2.base64}}) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-ExtraBold.woff2.base64}}) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 900;
  src: url(data:font/woff2;charset=utf-8;base64,{{fonts/NotoSans-ExtraBoldItalic.woff2.base64}}) format('woff2');
}




body {
    font-family: 'Noto Sans', sans-serif !important;
    margin: 0 1rem 0 0;
    padding: 0;
}

body > div#header > h1
{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 31pt;
    font-weight: 700;
}

body > div {
    margin-left: 0;
    padding-bottom: 0;
}
body > div#skills,
body > div#experience,
body > div#certifications
{
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}
body > div#summary,
{
    margin-top: 0;
}
body > div#technical_skills,
body > div#leadership_skills
{
    margin-top: 0;
    margin-bottom: 0;
    page-break-inside: avoid;
}
body > div#leadership_skills > h2
{
    margin-top: 0;
}

body > div#header
{
    margin-bottom: 0 !important;
}

body > div > *
{
    page-break-inside: avoid;
    line-height: 120%;
}

body > div > p
{
    margin-top: 0.25em;
    margin-bottom: 0.25rem;
}

body > div > div > *
{
    margin: 0;
}

dd
{
    margin-left: 1rem;
    width: 17rem;
}
body > div#header > div#contact
{
    margin-bottom: 0;
    padding-left: 44vw;
    margin-top: -3rem;
    text-align: right;
}

body > div#header > div#contact > p
{
    word-break: keep-all;
    display: inline-block;
    font-size: 7.5pt;
    margin: 0;
    padding: 0;
    break-inside: avoid;
    text-align: left;
}
body > div#header > div#contact > p a
{
    color: #004;
    text-decoration: none;
    display: inline-block;
}
body > div#header > div#contact > p.element_pdf
{
    display: none;
}
h2
{
    font-size: 13pt;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0;
    border-bottom: solid #333 1px;
}
body > div#summary > h2
{
    margin-top: -0.5rem;
}

body > div#header > div#contact > h2
{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.skill_container {
    column-width: 48vw;
    column-fill: balanced;
}

body > div#experience
{
    clear: both;
}

div.subheading
{
    page-break-inside: avoid;
    padding-left: 1rem;
}
div.subheading > h3 {
    margin-left: -1rem;
}

body > div#experience > div.subheading > h3
{
    font-size: 12pt;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body > div#experience h4
{
    font-size: 11pt;
    font-weight: 700;
    margin-top: 0.5rem;
}
body > div#experience h4:first-of-type
{
    margin-top: 0;
}
body > div#experience > div.subheading
{
    margin-top: 1em;
}
body > div#experience > div.subheading:first-of-type
{
    margin-top: 0;
}
body > div#experience > div.subheading > ul
{
    padding-left: 1.5em;
    margin-top: 0;
}
body > div#experience > div.subheading > p
{
    margin-top: 0;
    margin-bottom: 0;
}

body > div#header > div#contact svg
{
    height: 1rem;
    width: 1rem;
    margin-bottom: -0.3rem;
    margin-right: 0.1rem;
}
body > div#header > div#contact > p.element_address > svg
{
    padding-top: 0.25rem;
}

svg, path
{
    stroke: black;
}

p.element_address > svg path,
p.element_mastodon > svg path,
p.element_phone > svg path,
p.element_github > svg path
{
    fill: black;
    stroke: none;
}

p.element_mastodon > svg path { fill: #2f0c7a; stroke: none; }
p.element_linkedin > svg path { stroke: none; }
p.element_address  > svg path
{
    fill: #ee3333;
    stroke: black;
    stroke-width: 0.5pt;
}
p.element_web      > svg path { fill: none; stroke: #00e; }
p.element_email    > svg
{

}
p.element_email    > svg path
{
               fill: white;
             stroke: black;
       stroke-width: 1.75pt;
}

p.element_address  {  }
p.element_phone    { width: 25vw; }
p.element_email    { width: 27vw; }
p.element_web      { width: 27vw; }
p.element_mastodon { width: 27vw; }
p.element_linkedin { width: 25vw; }
p.element_github   { width: 25vw; }
p.element_address,
p.element_phone,
p.element_email,
p.element_web,
p.element_mastodon,
p.element_linkedin,
p.element_github
{
    height:      1.125rem;
    line-height:  1rem;
}

div.skill
{
    margin-bottom: 0.25em;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
}

div.skill p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
div.skill ul
{
    margin: 0;
    padding: 0 0 0 1.1rem;
}

#personal_interests
{
    font-size: 95%;
}

hr
{
    border-top: none;
    border-bottom: solid black 1px;
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

#experience hr
{
    border-bottom: solid #888 1px;
    color: none;
}

body > div#footer
{
    margin-top: 1rem;
}

body > div#footer > p
{
    font-size: 9pt;
    margin-top: 0.5rem;
}

p > em {
    font-size: 9pt;
}

#experience p
{
    font-style: italic;
}

@media screen {
    body {
        padding: 1rem;
    }
    body > div#header > div#contact
    {
        text-align: right;
    }
    body > div#header > div#contact > p.element_pdf
    {
        display: inline-block;
        width: 22vw;
    }
}


@media print {
    @page {
        margin: 0.4in;
    }
    body
    {
        background-image: none !important;
        color: black !important;
        background-color: white !important;
        font-size: 10pt;
        margin: 0;
        padding: 0;
    }
}
